<!DOCTYPE html>
<html>

<head>
    <!-- 页面meta -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>商品管理</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <!-- 引入angular的js -->
    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 引入分页相关的JS和CSS -->
    <script type="text/javascript" src="../plugins/angularjs/pagination.js"></script>
    <link rel="stylesheet" href="../plugins/angularjs/pagination.css">

    <script type="text/javascript" src="../js/base_pagination.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js"></script>
    <script type="text/javascript" src="../js/controller/orderController.js"></script>
    <script type="text/javascript" src="../js/service/orderService.js"></script>

</head>

<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="orderController">
<!-- .box-body -->

<div class="box-header with-border">
    <h3 class="box-title">订单统计</h3>
</div>

<div class="box-body">

    <!-- tab页 -->
    <div class="nav-tabs-custom">

        <!--tab头-->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#seller_rep" data-toggle="tab">商家统计</a>
            </li>
            <li>
                <a href="#user_rep" data-toggle="tab">用户统计</a>
            </li>
            <li>
                <a href="#month_rep" data-toggle="tab">月份统计</a>
            </li>
        </ul>
        <!--tab头/-->

        <!--tab内容-->
        <div class="tab-content">
            <!--商家统计-->
            <div class="tab-pane" id="seller_rep">
                <div class="row data-type">
                    <table class="table table-bordered table-striped table-hover dataTable">
                        <thead>
                        <tr>
                            <th class="sorting" ng-repeat="pojo in entity.goodsDesc.specificationItems">
                                {{pojo.attributeName}}
                            </th>
                            <th class="sorting">价格</th>
                            <th class="sorting">库存</th>
                            <th class="sorting">是否启用</th>
                            <th class="sorting">是否默认</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="pojo in entity.itemList">
                            <td ng-repeat="item in entity.goodsDesc.specificationItems">
                                {{pojo.spec[item.attributeName]}}
                            </td>
                            <td>
                                <input class="form-control" ng-model="pojo.price" placeholder="价格">
                            </td>
                            <td>
                                <input class="form-control" ng-model="pojo.num" placeholder="库存数量">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="pojo.status" ng-true-value="1" ng-false-value="0">
                            </td>
                            <td>
                                <input type="checkbox" ng-model="pojo.isDefault" ng-true-value="1" ng-false-value="0">
                            </td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>

        </div>
        <!--tab内容/-->
        <!--表单内容/-->

    </div>
    <!-- 数据表格 /-->
    <!-- 分页 -->
    <tm-pagination conf="paginationConf"></tm-pagination>

</div>
<!-- /.box-body -->

</body>

</html>